html
   body
    script(src='./public/predmeti.js')
   nav.navigation
    ul.navigation__list
     each item in predmeti
      li.navigation__element
        a(href=item, class='navigation__link--'+item).navigation__link=item
     li.navigation__element
      button 
     li.navigation__element
      a.postTitle(onclick='logout()')= "logout"
        
